<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="../img/icone.png">
        <title>
            ChessGame
        </title>
        <meta charset="utf-8">
    </head>
    <body>
        <div>
            <form action="" method="get">
                <label for='Username'></label><br>
                <input value="Username" type='text'>
                <br><label for='Password'></label><br>
                <input value="Password" type='password'>
                <br><button value="submit" name="Submit" ></button>
            </form>
        </div>
    </body>
</html>