<!DOCTYPE HTML>
<html>
<head>
<style>
#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
#div2 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
</style>

</head>
<body>

<p>Drag the W3Schools image into the rectangle:</p>

<div id="div1"  ></div>
<br>
<img id="drag1" src="../img/chessFond.jpg" draggable="true" width="336" height="69">
<br>
<div id="div2"  ></div>
</body>
<script>


	function addEventListeners() {
		const darag = document.getElementById("drag1");
		const diiv = document.getElementById("div1");
		const div = document.getElementById("div2");
		console.log("test")
		darag.addEventListener('dragstart', event =>{let target = event.target;
		console.log("test")
			// Store a ref. on the dragged elem
			const imgSrc = target.src;
			parkingSimulation = target;
			event.dropEffect = 'linkMove';
			event.dataTransfer.setData("text", imgSrc);
		});
		diiv.addEventListener('dragover', event =>{console.log("test");event.preventDefault();});
		diiv.addEventListener('drop',event =>{		const target = event.target;
		const dragged = parkingSimulation;
		console.log("test")
		event.preventDefault();
		// Get the id of the target and add the moved element to the target's DOM
		//dragged.parentNode.removeChild(dragged);
		target.appendChild(dragged);
		});
		div.addEventListener('dragover', event =>{console.log("test");event.preventDefault();});
		div.addEventListener('drop',event =>{		const target = event.target;
		const dragged = parkingSimulation;
		console.log("test")
		event.preventDefault();
		// Get the id of the target and add the moved element to the target's DOM
		//dragged.parentNode.removeChild(dragged);
		target.appendChild(dragged);
		});
	
	}
	addEventListeners()
	</script>
</html>