<!DOCTYPE HTML>
<html>
	<head>
		<title>Menu</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../css/styleM.css">
</head>
<body>
	<h1 class="title1">Shadow Kings Chess</h1>
        <div class="menu">
            <ul>
                <li class="button" id="BN">Nouvelle Partie</li>
                <li class="button" id="BS">Scores</li>
                <li class="button" id="BD">Documentation</li>
                <li class="button" id="BQ">Quitter</li>
            </ul>
        </div>
</body>
	<script src="../js/Menu.js"></script>
</html>