@font-face {
	font-family: "Harry Potter";
	src: url('../polices/harrypotter-webfont.woff2') format('woff2'),
		 url('../polices/harrypotter-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
  
html{
    margin: 0;
    height: 100%;
    background-image: url(../img/fond.jpeg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    width: 90vmin;
	margin-left: auto;
    margin-right: auto;
	font-family: Harry Potter ;
	margin-top: 6vmin;
	text-align: center;
	font-size: 15vmin;
	color: white;
	font-weight: normal;
	text-shadow:  -0.17vmin 0 black, 0 0.17vmin black,
	0.17vmin 0 black, 0 -0.17vmin black, 0 0 1vmin rgba(255,255,255,.5),0 0 2vmin rgba(255,255,255,1);
}

.login-form{
    width: 35vmin;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    height: 46vmin;
    /*transform: translate(-50%,-50%);*/
}
  
h2{
    font-size: 8vmin;
    text-align: center;
    font-family: Harry Potter ;
    color: white;
	font-weight: normal;
	text-shadow:  -0.17vmin 0 black, 0 0.17vmin black,
    0.17vmin 0 black, 0 -0.17vmin black, 0 0 1vmin rgba(255,255,255,.5),0 0 2vmin rgba(255,255,255,1);
    margin-bottom: 0;
}

#erreur{
    height: 2vmin;
    font-size: 1.5vmin;
    color: white;
    text-shadow:  -0.1vmin 0 red, 0 0.1vmin red,
    0.1vmin 0 red, 0 -0.1vmin red, 0 0 2vmin rgb(255, 0, 0),0 0 1vmin rgb(255, 0, 0);
}

.txtb{
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    position: relative;
    margin-bottom: 2vmin;
    outline: 1px solid transparent;
    outline-color: rgba(255,255,255,0);
    outline-offset: 25px;
    border-radius: 0.9vmin;
}
  
input{
    color: white;
	text-shadow:  -0.11vmin 0 black, 0 0.11vmin black,
	0.11vmin 0 black, 0 -0.11vmin black;
    font-size: 3vmin;
    font-family: Harry Potter ;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}
  
  
.logbtn{
    margin-bottom: 2vmin;
    height: 6vmin;
    margin-top: 2vmin;
    width: 100%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 5vmin;
    font-family: Harry Potter;
    text-shadow:  -0.17vmin 0 black, 0 0.17vmin black,
    0.17vmin 0 black, 0 -0.17vmin black;
    font-weight: normal;
    text-align: center;
    box-shadow: inset 0 0 2vmin rgba(255,255,255,.5),0 0 2vmin rgba(255,255,255,1);
    outline: 1px solid transparent;
    outline-color: rgba(255,255,255,0);
    outline-offset: 25px;
    border-radius: 0.9vmin;
    background-color: transparent;
}
  
.logbtn:hover{
    color: #000000;
      text-shadow:  -0.17vmin 0 white, 0 0.17vmin white,
      0.17vmin 0 white, 0 -0.17vmin white;/* -0.4vmin -0.4vmin black;*/
      box-shadow: inset 0 0 2vmin rgba(255, 0, 0, 0.568) ,0 0 2vmin rgb(255, 0, 0);
      outline-offset: 25px;
      border-radius: 0.9vmin;
}
#connexion{
    margin-left: 13vmin;
    height: 6vmin;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 3.5vmin;
    font-family: Harry Potter;
    text-shadow:  -0.17vmin 0 black, 0 0.17vmin black,
    0.17vmin 0 black, 0 -0.17vmin black;
    font-weight: normal;
    
    
}
