@font-face {
	font-family: "Harry Potter";
	src: url('../polices/harrypotter-webfont.woff2') format('woff2'),
		 url('../polices/harrypotter-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html{
	margin: 0;
	height: 100%;
    background-image: url(../img/fond.jpeg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}



.title1{
	width: 90vmin;
	margin-left: auto;
    margin-right: auto;
	font-family: Harry Potter ;
	margin-top: 6vmin;
	text-align: center;
	font-size: 15vmin;
	color: white;
	font-weight: normal;
	text-shadow:  -0.17vmin 0 black, 0 0.17vmin black,
	0.17vmin 0 black, 0 -0.17vmin black, 0 0 1vmin rgba(255,255,255,.5),0 0 2vmin rgba(255,255,255,1);/* -0.4vmin -0.4vmin black;*/
	
}


.menu{
	margin-left: auto;
    margin-right: auto;
	width: 37vmin;
	margin-top: 29vmin;
}


.button{
	margin-left: -3.5vmin;
	cursor: pointer;
	list-style: none;
	margin-top: 1.5vmin;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 8vmin;
	font-family: Harry Potter;
	text-shadow:  -0.17vmin 0 black, 0 0.17vmin black,
	0.17vmin 0 black, 0 -0.17vmin black;
	font-weight: normal;
	width: 37vmin;
	text-align: center;
	box-shadow: inset 0 0 2vmin rgba(255,255,255,.5),0 0 2vmin rgba(255,255,255,1);
    outline-color: rgba(255,255,255,0);
	outline-offset: 25px;
	border-radius: 0.9vmin;

}

.button:hover {
	color: #000000;
	text-shadow:  -0.17vmin 0 white, 0 0.17vmin white,
	0.17vmin 0 white, 0 -0.17vmin white;/* -0.4vmin -0.4vmin black;*/
	box-shadow: inset 0 0 2vmin rgba(255, 0, 0, 0.568) ,0 0 2vmin rgb(255, 0, 0);
	outline-offset: 25px;
	border-radius: 0.9vmin;
}

.button:active {
	color: #ff0000;
	
}