@font-face {
	font-family: "Bad Behaviour";
	src: url('../polices/bad_behaviour-webfont.woff2') format('woff2'),
		 url('../polices/bad_behaviour-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html{
	margin: 0;
	height: 100%;
	background-image: url("../img/chessFond.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	  background-size: cover;

}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../img/bois.png");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	box-shadow: 0 0 4vmin rgba(255,255,255,.5),0 0 0.3vmin rgba(255,255,255,1);
	border-radius: 0.9vmin;
}


.indice{
	font-weight: bolder;
	color: rgba(255, 255, 255, 0.822);
	font-family: Bad Behaviour;
	font-size: 7vmin;
	font-weight: lighter;
}

h3{
	text-align: center
}

td {			
	display: table-cell;
	width: 100px;
	height: 100px;
	text-align: center;
	border-radius: 0.2vmin;
	
}
.caseBlanche{
	background-image: url("../img/marbreBlanc1.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.caseNoir{
	background-image: url("../img/marbreNoir.png");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	
	color: white;
}

